age.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://localhost:8080/Age/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="Age"
                  targetNamespace="http://localhost:8080/Age/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost:8080/Age/">
            <xsd:element name="GetAgeRq">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="naissance" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetAgeRs">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="age" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetAgeRq">
        <wsdl:part element="tns:GetAgeRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetAgeRs">
        <wsdl:part element="tns:GetAgeRs" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="AgePortType">
        <wsdl:operation name="GetAge">
            <wsdl:input message="tns:GetAgeRq"/>
            <wsdl:output message="tns:GetAgeRs"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AgeSOAP" type="tns:AgePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAge">
            <soap:operation soapAction="http://localhost:8080/Age/GetAge"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Age">
        <wsdl:port binding="tns:AgeSOAP" name="AgeSOAP">
            <soap:address location="http://localhost:8080/Age"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>